{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Ftrina</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href='{% static "dist/css/bootstrap.min.css"%}'rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href='{% static "cover.css" %}' rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <!-- <h3 class="masthead-brand">Ftrina</h3> -->
          <nav class="nav nav-masthead justify-content-center">
            <!--<a class="nav-link" href="#">العربية</a>-->
          </nav>
        </div>
      </header>



  <body class="c-app">

    <div class="c-wrapper c-fixed-components">
      <header class="c-header c-header-light c-header-fixed c-header-with-subheader">
        <h1 class="docs-title" id="content" style="margin:auto ;">Drop parcel</h1>
        <div class="c-subheader px-3">
          <!-- Breadcrumb-->
            
          </div>
      </header>
      <div class="c-body">
        <main class="c-main">
          <div class="container-fluid">
            <div class="fade-in">
            {% block content %}
            <div class="d-md-flex flex-md-row align-items-center justify-content-between">


    <!--
<div class="alert alert-warning" role="alert">
  For technical details, please refer to!
</div>
-->


<div class="row" >
  <div class="col-sm-6"  >
    <div class="card" style="width: 18rem;">
      <img  src='{% static "A1.png"%}'  width="10" height="300" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">A 1 Cell</h5>

        <a href="#" class="btn btn-primary">Oped</a>
        <a href="#" class="btn btn-primary">Generate code</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card" style="width: 18rem;">
      <img src='{% static "A2.png"%}' width="10" height="300" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">A 3 Cell</h5>
        <a href="#" class="btn btn-primary">Oped</a>
        <a href="#" class="btn btn-primary">Generate code</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card" style="width: 18rem;">
      <img src='{% static "A3.png"%}'  width="10" height="300" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">A 2 Cell</h5>
        <a href="#" class="btn btn-primary">Oped</a>
        <a href="#" class="btn btn-primary">Generate code</a>
      </div>
    </div>
  </div>
</div>
</div>
    <!--

            <div class="card mb-4">
              <div class="card-header">Enter order number or parcel code</div>
              <div class="card-body">
                <form class="form-horizontal" action="" method="post">{% csrf_token %}



<table class="table table-striped">


  <tbody>

    <tr >

      <td>Order On </td>
      <td>{{ form.number}}</td>
    </tr>

</table>

</tbody>




                </div>


                    <div class="card-footer">
                      <button class="btn btn-sm btn-primary" type="submit"> Submit</button>
                    </div>
                    </form>

            </div>

-->




            {% endblock %}
           </div>
          </div>
        </div>
      </main>  
        <footer class="c-footer">
          <div>This app is created by <a href="/" style="color: #63493b;">Wael El-begearmi</a> &copy; 2022.</div>
          <!--
          <div class="ml-auto">Powered by&nbsp;<a href="/">CMMS</a></div>
          -->
        </footer>
      </div>
    </div>
    <!-- CoreUI and necessary plugins-->
    <script src='{% static "assets/vendors/@coreui/coreui/js/coreui.bundle.min.js"%}'></script>
    <!--[if IE]><!-->
    <script src='{% static "assets/vendors/svgxuse/svgxuse.min.js"%}'></script>
    <!--<![endif]-->
    <!-- Plugins and scripts required by this view-->
    <script src='{% static "assets/vendors/@coreui/coreui-chartjs/js/coreui-chartjs.bundle.js"%}'></script>
    <script src='{% static "assets/vendors/@coreui/utils/js/coreui-utils.js"%}'></script>
    <script src='{% static "assets/js/main.js"%}'></script>
    {% block foot %}
    
    {% endblock %}
  </body>
</html>