{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Ftrina</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href='{% static "dist/css/bootstrap.min.css"%}'rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href='{% static "cover.css" %}' rel="stylesheet">
    <script>
    window.onload = function() {
    var input = document.getElementById("CodeNumberInput").focus();
    }
    </script>
    
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <!-- <h3 class="masthead-brand">Ftrina</h3> -->
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="#">العربية</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        {% block content %}
        {% endblock %}

{% if form.errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
      {% for field in form %}
           {% for error in field.errors %}
                {{ error|escape }}
           {% endfor %}

      {% endfor %}
</div>
{% endif %}
        <h1 class="cover-heading">Enter your code</h1>
        <p class="lead">Enter your Code or show your QR code to the QR scanner.</p>
        <form class="form-horizontal" action="" method="post">{% csrf_token %}
        <div class="form-label-group">
        {{ form.code}}
      </div>

        <p class="lead">
          <button class="btn btn-lg btn-secondary" type="submit"> Submit</button>
        </p>
        </form>

      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">

        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>
      window.jQuery || document.write('<script src="{% static 'assets/js/vendor/jquery-slim.min.js' %}"><\/script>')
    </script>
    <script src='{% static "assets/js/vendor/popper.min.js"%}'></script>
    <script src='{% static "dist/js/bootstrap.min.js"%}'></script>
  </body>
</html>










